<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common :: header(value='Game')}"></div>
<div th:replace="~{common :: navbar(game=true)}"></div>
<body class="bg-light">
<div class="container">
    <div>
        <h1>Found <small th:text="${lobby.getUsers().size() - 1}"></small> opponents</h1>
    </div>
    <a th:href="@{/game/new/{lobbyId}(lobbyId = ${lobby.getId()})}" class="btn btn-primary">
        <span>Start</span>
    </a>
</div>
</body>
<div th:replace="~{common :: js-lb}"></div>
</html>
